In [ ]:
select DateDiff(MI,StartDate,EndDate) AS Timetaken,* FROM table1
SELECT * FROM table2 WHERE id = 1

GO

 Test1

 Multiline test   
  1   
  2

 Test2

In [ ]:
SELECT * FROM table3 where ID = 7

GO

 Test3

In [ ]:
SELECT * FROM table4 where ID = 8